.vs/
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.VC.opendb
Kangaroo.sdf
vc140.pdb
x64/
obj/
.idea/
build/
cmake-build-debug/
install/
kangaroo
*.prf
input-*
deviceQuery/deviceQuery
deviceQuery/*.o
deviceQuery/bin/
